<h1>Edit Team</h1>

<%= form_for @team do |f| %>
  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>

<%= link_to 'Delete!', team_path(@team), method: :delete, class: 'delete' %>
