<div class="form">
<h2>New Team</h2>
<div class="formtitle">
<%= form_for @team do |f| %>
<div class="input">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<br>
<div class="input">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<br>
<div class="input">
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
</div>
<br>
  <%= f.submit %>
<% end %>
</div>
</div>
