<h1>Edit Player</h1>

<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name%>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>
