<!DOCTYPE html>
<html>
  <head>
    <title>Build your own Team</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="top">
      <div class="title">
      <h1>Hockey Team Creator</h1>
    </div>
    <div class = "view">
      <h2><%= link_to "View Team list", teams_path  %></h2>
      <h2><%= link_to "Research Players", players_path  %></h2>
    </div>
    </div>
    <%= yield %>
  </body>
</html>
